$font-stack: 'Open Sans', sans-serif;
$success-color: #2ecc71;
$error-color: #e74c3c;
$dark-color: #333;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafb;
  font-family: $font-stack;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 400px;

  .form {
    padding: 2.5rem 3rem;
  }

  h2 {
    color: $dark-color;
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;

    label {
      color: #777;
      display: block;
      margin-bottom: 5px;
    }

    input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 14px;

      &:focus {
        outline: 0;
        border-color: #777;
      }
    }

    &.success input {
      border-color: $success-color;
    }

    &.error input {
      border-color: $error-color;
    }

    small {
      color: $error-color;
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
    }
  }
}
